body{
    font-family: 'Poppins'sans-serif;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(250, 248, 248);
}
.collapse{display: flex;flex-direction: column;gap:20px}
.navbar-brand{display: flex;flex-direction: column;gap: 0 !important;padding: 0;margin: 0 10px;justify-content: center;align-items: center;line-height: 0.5;padding-bottom: 15px;}
.logo-text{font-family: 'Pacifico', cursive;animation: Color 2s infinite alternate;font-size: 22px;margin:0 !important;text-align: center;}
.logo-text::first-letter{font-size: 50px;font-family:'Grand Hotel',cursive;font-style: italic;}
@keyframes Color{0%{color: black;} 50%{color: hsl(203, 100%, 50%);}}
.navbar-brand img{margin-bottom: 0 !important;border-radius: 50%;}
.navbar-nav{display:flex;gap:60px;margin-left: 50px;}
.nav-link{font-size: 18px;font-weight: 600;color: black;height: 35px;}
.nav-link.active{position: relative;border-bottom: 1px solid #2979FF;color: #2979FF !important;}
.nav-link.active::after{
    border-radius: 50%;content: "";width: 6px;height: 6px;position: absolute;right: 0;bottom: -4px;background-color: #2979FF;
}
.nav-link.active::before{
    border-radius: 50%;content: "";width: 6px;height: 6px;position: absolute;left: 0;bottom: -4px;background-color: #2979FF;
}
.reg-btn{color:hsl(203, 100%, 50%);border: 1px solid black;background-color: white;border-radius: 10px;height: 35px;width:120px;font-size: 20px;}
.regmodal{position: fixed;z-index: 1000;top:50px;display: none;}
.regbox{background-color: hsla(203, 100%, 50%,1);padding: 0;width: 100%;}
.reg-card{padding:50px;background-color: white;margin: 10px;border-radius: 10px;}
.reg-header{display: flex;justify-content: space-between;margin-bottom: 20px;margin-left: 50px;}
.closereg-btn{background-color: white;border: none;font-size: 30px;}    
.reg-content input{height: 40px;border: 1px solid #2979FF;width: 100%;margin-bottom: 15px;border-radius: 10px;}
.login-row{display: flex;justify-content: space-between;border-bottom: 1px solid #2979FF;padding:10px;position: relative;}
.signpa{position: absolute;bottom: 155px;left:200px;background-color: white;font-size: 20px;font-weight: 600;}
.loginrow-pa{color: #2979FF;font-weight: 600;}
.openreg-btn{background-color: white;border: 1px solid black;color: #2979FF;font-weight: 600;width:120px;border-radius: 10px;font-size: 18px;height: 35px;}
.brands-icon{border: 1px solid black;color: #2979FF;margin-top: 20px;display: flex;justify-content: space-evenly;padding: 10px;font-size: 20px;margin-bottom: 10px;}
.new-login{display: flex;font-size: 12px;gap:30px;}
.reg-card1{margin: 10px;border: none;border-radius: 10px;width:100%;object-fit: cover;height: 100%;}
.signmodal{position: fixed;z-index: 1001;top:50px;height: 500px;display: none;}
.signbox{background-color: hsla(203, 100%, 50%,1);padding: 0;width: 100%;}
.sign-card{padding:50px;background-color: white;margin: 30px;border-radius: 10px;}
.sign-header{display: flex;justify-content: space-between;margin-bottom: 20px;margin-left: 50px;}
.sign-content input{height: 40px;border: 1px solid #2979FF;width: 100%;margin-bottom: 15px;border-radius: 10px;}
.new-login1{display: flex;font-size: 12px;gap:30px;margin-top: 15px;}
.sign-card1{margin: 30px !important;border: none;border-radius: 10px;width:100%;object-fit: cover;height: 100%;}
.search-list{border:1px solid black;display: flex;justify-content: space-between;height: 40px;width:250px;align-items: center;cursor: pointer;background-color: white;}
.search-list input{border: none;padding-left: 10px;}
.search-list i{padding-right: 10px;}
footer{background-color: #2979FF;color: white;padding-top: 50px;border-top: 1px solid black;font-size: 19px;}
.footer-card img{margin-left: 0 !important;padding-left: 0;}
.footer-card{display: flex;flex-direction: column;justify-content: center;align-items: center;line-height: 0.5;margin-left: 0 !important;padding-left: 0 !important;}
.footer-card1{line-height: 1;}
.pa-brand{display: flex;justify-content: flex-end;gap:20px;font-size: 24px;}
.pa-brand i{background-color: white;color: black;border-radius: 50%;padding: 3px;}
.footer-card2{color:black;text-align: center;line-height: 0.5;font-size: 12px;font-weight: 600;margin-top: 20px;}




.pa-black{font-weight: bold;}
.home-card{padding-left: 100px;height: 350px;border-bottom: 1px solid black;border-top: 1px solid black;padding-top: 50px;padding-bottom: 20px;background-color: white  ;}
.home-card p{font-size: 22px;margin-top: 50px;  }
.home-card h1{color:#2979FF;}
.oneline{display: flex;flex-direction: row;gap:50px;margin-top: 30px;}
.homecard-img{height: 350px;border-bottom: 1px solid black;border-top: 1px solid black;object-fit: cover;}
.explore-btn{height:35px;background-color: #2979FF;color: white;font-weight: 600;border: none;border-radius: 15px;margin-top: 10px;width:130px}
.pa-enquiry{font-size: 18px;margin-top: 10px;border-bottom: 1px solid black;padding-bottom: 0;height: 28px;position: relative;cursor: pointer;}
.pa-enquiry::after{
    border-radius: 50%;content: "";width: 6px;height: 6px;position: absolute;right: 0;bottom: -4px;background-color: black;
}
.pa-enquiry::before{
    border-radius: 50%;content: "";width: 6px;height: 6px;position: absolute;left: 0;bottom: -4px;background-color: black;
}
.explore-img{height: 55px;width:150px;margin-left: 100px;position: relative;}
.circleone{border: 1px solid black;border-radius: 50%;height: 30px;width: 25px;text-align: center;position: absolute;left:630px;top: 495px;background-color: white;}
#section1 h4{font-weight: 700;text-align: center;margin: 60px 0;}
figure img{object-fit: cover;height: 200px;width:200px}
figure{display: flex;flex-direction: column;justify-content: center;align-items: center;font-weight: 600;gap: 20px;}
.homecard-card1{border: 1px solid black;display: flex;flex-direction: column;justify-content: center;align-items: center;position: relative;padding-top: 15px !important;width:300px;height: 310px;gap:0;line-height: 0.5;box-shadow: 0 0 3px rgba(0,0,0,1);padding-bottom: 0 !important;background-color: white;}
.homecard-card1img{width: 50%;margin-bottom: 10px;margin-top: 10px;height: 130px;}
.onerow{display: flex;gap:10px;margin-bottom: 0 !important;}
.onerow-img{width:100px;height: 50px;}
.cart-btn{width:120px;height: 30px;background-color: #2979FF;color: white;border: 1px solid black;border-radius: 10px;font-size: 18px;margin-top: 10px;}
#cart1{font-size: 28px;margin-top: 10px;cursor: pointer;}
.whishheart{position: absolute;font-size: 30px;color: #2979FF;top:10px;right:10px;cursor: pointer;}
.rate{font-size: 18px;margin-top: 10px;}
.card1para{font-weight: bold;font-size: 14px;}
.card1para1{font-size: 14px;}
.div1{margin: 10px 0px; padding: 0 210px; text-align: center;border-top: 1px solid black;border-bottom: 1px solid black;background-color: white;}
.div1 p{font-size: 20px;margin: 50px 0;text-align: justify;}
.div1 h4{font-weight: 600;margin-bottom: 30px !important;}
.div1 h3{color: rgb(3, 209, 3);font-weight: bold;}
.faq-box{border: 2px solid black;margin: 30px 50px;background-color: white;}
.faq-header{display: flex;justify-content: space-between;font-size: 22px;font-weight: 600;cursor: pointer;}
.faq-set{border-top: 2px dotted black;padding: 20px 50px;}
.faq-set1{padding: 20px 50px;}
.faq-footer{display: none;font-size: 20px;}
#article1 h5{text-align: center;font-weight: bold;}
#article1 p{margin: 30px 100px;font-size: 20px;text-align: justify;}
#article1 img{margin: 0 100px;width:82%}
.product-card{height: 350px;border-top: 1px solid black;border-bottom: 1px solid black;}
.product-card img{height: 100%;width: 100% !important;}
.filterhead{display: flex;gap:10px;cursor: pointer;margin-left: 50px;}
.filter-arr{font-size: 24px;}
.filterpop{position: relative;display: none;}
.filterbox{display: flex;gap:120px;padding:30px 105px;background-color: #2979FF;color: white;}
.filterbox input{background-color: white;}
.filterbox p{display: flex;gap:10px;font-size: 20px;line-height: 1;}
.filterbox h5{margin-bottom: 30px;font-size: 22px;}
.filter-btn{background-color: white;color: #2979FF;width:120px;height: 40px;margin-top: 120px;border: none;border-radius: 10px;font-size: 20px;font-weight: 600;}



@media (max-width:730px){.navbar-nav{gap:20px}.explore-img{margin-left: 45px;} .circleone{left:575px;top:480px} .footer-card1{margin-bottom: 10px;}.signpa{bottom:580px;left:250px}.filterbox{padding: 30px;gap:30px;flex-wrap: wrap;}.div1{padding: 50px;}}
@media (min-width:731px) and (max-width:1024px){.navbar-nav{gap:20px} .explore-img{margin-left: 35px;} .circleone{left:565px} .footer-card1{margin-bottom: 10px;}.signpa{bottom:580px;left:250px}.filterbox{padding: 30px;gap:50px}.sign-card1 img{height: 80%;}}