body{
    font-family: 'Poppins'sans-serif;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}
.navbar{background-color: white !important;}
.collapse{display: flex;flex-direction: column;gap:20px}
.navbar-brand{display: flex;flex-direction: column;gap: 0 !important;padding: 0;margin: 0 10px;justify-content: center;align-items: center;line-height: 0.5;padding-bottom: 15px;}
.logo-text{font-family: 'Pacifico', cursive;animation: Color 2s infinite alternate;font-size: 22px;margin:0 !important;text-align: center;}
.logo-text::first-letter{font-size: 50px;font-family:'Grand Hotel',cursive;font-style: italic;}
@keyframes Color{0%{color: black;} 50%{color: hsl(203, 100%, 50%);}}
.navbar-brand img{margin-bottom: 0 !important;border-radius: 50%;}
.navbar-nav{display:flex;gap:40px;margin-left: 50px;}
.nav-link{font-size: 18px;font-weight: 600;color: black;height: 35px;}
.nav-link.active{position: relative;border-bottom: 1px solid #2979FF;color: #2979FF !important;}
.nav-link.active::after{
    border-radius: 50%;content: "";width: 6px;height: 6px;position: absolute;right: 0;bottom: -4px;background-color: #2979FF;
}
.nav-link.active::before{
    border-radius: 50%;content: "";width: 6px;height: 6px;position: absolute;left: 0;bottom: -4px;background-color: #2979FF;
}
.profile{position: relative;}
.profile-img{width:70px;height: 60px;cursor: pointer;}
.profilepop{position: absolute;background-color: white;display: none;}
.profile-box{width:280px;height:300px;padding: 20px;background-color: white;}
.profile-header{display: flex;justify-content: space-between;border-bottom: 1px solid black;margin-bottom: 10px;}
.profile-btn{border: none;background-color: white;font-size: 24px;}
.profile-box p{font-size: 19px;cursor: pointer;}
.profile-box p:hover{background-color: #2979FF;color: white;}
.search-list{border:1px solid black;display: flex;justify-content: space-between;height: 40px;width:250px;align-items: center;cursor: pointer;background-color: white;}
.search-list input{border: none;padding-left: 10px;}
.search-list i{padding-right: 10px;}
footer{background-color: #2979FF;color: white;padding-top: 50px;border-top: 1px solid black;font-size: 19px;}
.footer-card img{margin-left: 0 !important;padding-left: 0;}
.footer-card{display: flex;flex-direction: column;justify-content: center;align-items: center;line-height: 0.5;margin-left: 0 !important;padding-left: 0 !important;}
.footer-card1{line-height: 1;}
.pa-brand{display: flex;justify-content: flex-end;gap:20px;font-size: 24px;}
.pa-brand i{background-color: white;color: black;border-radius: 50%;padding: 3px;}
.footer-card2{color:black;text-align: center;line-height: 0.5;font-size: 12px;font-weight: 600;margin-top: 20px;}
.heartlike{color:#2979FF;font-size: 24px;margin-top: 15px;cursor: pointer;}
#profile-cart{color:#2979FF;font-size: 24px;margin-top: 15px;cursor: pointer;}
#bell{color: #2979FF;font-size: 26px;margin-top: 15px;cursor: pointer;}
.bellcheck{position: relative;}
.bellpop{position: absolute;right:100px;display: none;} 
.bellbox{width:1000px;height:150px;background-color: #2979FF;color: white;padding: 10px;}
.bellheader{display: flex;justify-content: space-between;}
.closebell{font-size: 24px;cursor: pointer;}
.pa-black{font-weight: bold;}
.arti-card1{margin-bottom: 100px;padding:0 130px;}
.arti-card2{padding:0 130px;}
.arti-card1 h6{font-weight: bold;margin-bottom: 40px;font-size: 18px;}
.arti-card2 h6{font-weight: bold;margin-bottom: 40px;font-size: 18px;}
.gall-img{height: 350px;width:100%}
#article2 h3{text-align: center;margin: 30px 0;font-weight: bold;}
#article2 p{text-align: center;font-size: 18px;margin-bottom: 100px;}
.gall-img1{width:90%;height: 350px;}
.gall-img2{width:100%;height: 350px;}
.arti-card3 h5{font-size: 24px;font-weight: bold;text-align: center;margin-bottom: 40px;}
.arti-card3 p{text-align: justify;font-size: 20px;}
.arti-card3{margin-bottom: 250px;}
.arti-p{font-size: 25px;font-weight: bold;text-align: center;margin-top: 30px;margin-bottom: 30px;}
.arti-card5{color: #2979FF;text-align: center;margin-top: 70px;}
.arti-card5 h6{font-size: 25px;margin-top: 20px;}
.arti-card5 h2{font-weight: bold;margin-bottom: 20px;}
.arti-card5 h1{font-size: 50px;}
#article3 h3{text-align: center;margin: 50px 0;}
.para3{text-align: justify;margin: 50px 200px;font-size: 18px;}
.blog-card1 h4, .blog-card2 h4{font-weight: bold;margin-bottom: 50px;font-size: 22px;}
.blog-card1 p,.blog-card2 p{font-size: 18px;margin-top: 20px;margin-right: 100px;margin-bottom: 20px;}
.blog-card3{margin-top: 200px;}
.blog-card4 img{height: 250px;}
.blog-card5{margin-top: 200px;}
.blog-card3 h4, .blog-card5 h4{font-weight: bold;margin-bottom: 50px;font-size: 22px;}
.blog-card3 p,.blog-card5 p{font-size: 18px;margin-top: 20px;margin-right: 100px;margin-bottom: 20px;}
.blog-card1 img{height: 300px;margin-bottom: 50px;width:80%}
.blog-card2 img{height: 300px;margin-bottom: 50px;width: 80%;}
.contact-card img{height: 300px;width:100%}
.contact-card1{border: 1px solid black;height: 300px;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.contact-card1 h6{font-weight: bold;font-size: 18px;}
.contact-card2 p{font-size: 20px;margin-right: 150px;}
.contact-card3 h5, .contact-card4 h5, .contact-card5 h5{margin-bottom: 25px;font-weight: bold;}
.contact-card3,.contact-card4{margin-bottom: 50px;}
.contact-card3 p, .contact-card4 p, .contact-card5 p{line-height: 0.5;font-size: 18px;}
.contact-card5 i{margin-right: 35px;margin-left: 40px;color: #2979FF;}
#yout1{color: red;}
#twit1 {
  background: linear-gradient(5deg,blue,red); padding: 2px; 
}
#article4 h4{text-align: center;margin: 30px 0;font-weight: bold;}
.contact-form{border: 1px solid black;padding: 20px 50px;padding-bottom: 5px;}
.contact-form p{font-size: 20px;font-weight: bold;}
.contact-form textarea{resize: none;width:60%;border-radius: 10px;border: 1px solid black;}
.contact-form input{width: 60%;border-radius: 10px;border: 1px solid black;height: 35px;}
.contact-btn{margin-left: 330px;width: 120px;height: 40px;border: none;border-radius: 10px;background-color: #2979FF;color: white;font-weight: 600;}
.whish-card{display: flex;gap:120px;border: 1px solid black;font-size: 18px;border-radius: 10px;padding:10px 100px;}
.whish-card1{display: flex;gap:100px;font-size: 18px;padding: 20px 70px;}
.whish-card1 img{height: 100px;}
.green-row{display: flex;gap:30px}
.cart1-btn{width:120px;height: 35px;border: none;background-color: #2979FF;border-radius: 10px;color: white;font-size: 16px;}
.rate, .greenpa{color: rgb(3, 174, 3);}
.whish-card2{display: flex;justify-content: space-between;}
.whi-link, .whi-link1{display: flex;gap:30px}
.copy-btn{width:120px;height: 35px;border: none;background-color: #2979FF;border-radius: 10px;color: white;font-size: 16px;}
.whi-link input{height: 35px;border-radius: 10px;border: 1px solid black;padding-left: 20px;}
.whi-link1 p{color: red;}
.cart-card{border: 1px solid black;display: flex;gap:200px;padding: 20px 100px;}
.cart-card1{display: flex;gap:160px;padding: 30px;}
.quan{border: 1px solid black;display: flex;height: 30px;gap:10px;padding:0 10px;}
.quan-pa{border-left:1px solid black;border-right: 1px solid black;height: 30px;padding: 0 10px;}
.coupon-btn{border: 1px solid black;background-color: white;border-radius: 20px;height: 40px;width: 120px;margin-right: 50px;font-size: 14px;}
.apply-btn{border: none;background-color: #2979FF;border-radius: 20px;height: 40px;width: 120px;font-size: 14px;color: white;}
.clear-pa{font-size: 16px;margin-left: 150px;margin-top: 70px;border-bottom: 1px solid #2979FF;width: 148px;color: #2979FF;position: relative; }
.clear-pa::after{content: "";background-color: #2979FF;width: 6px;height: 6px;border-radius: 50%;position: absolute;bottom: -3px;}
.clear-pa::before{content: "";background-color: #2979FF;width: 6px;height: 6px;border-radius: 50%;position: absolute;bottom: -3px;}
.cart-table{border: 1px solid black;box-shadow: 0 2px 4px rgba(0,0,0,0.2);}
.cart-header{border-bottom: 2px dotted black;padding: 20px;}
.cart-content{display: flex;border-bottom: 2px dotted black;padding: 20px;justify-content: space-between;font-size: 18px;font-weight: 600;}
.cart-con3{display: flex;padding:10px 20px;justify-content: space-between;font-size: 18px;font-weight: 600;}
.proceed-btn{width:200px;height: 35px;border: none;background-color: #2979FF;border-radius: 10px;color: white;font-size: 16px;margin: 20px;margin-left: 150px;}
.cart1-table{border: 1px solid black;height: 325px;line-height: 0.5;}
.proceed1-btn{width:200px;height: 35px;border: none;background-color: #2979FF;border-radius: 10px;color: white;font-size: 16px;margin-left: 150px;margin-top: 0 !important;}
.proceed-img{height: 325px;border: 1px solid black;width: 100%;padding: 20px;}
.proceed-card{border: 1px solid black;height: 325px;padding: 50px;font-size: 20px;}
.grid-form{border: 1px solid black;display: flex;flex-wrap: wrap;  width:800px;justify-content: space-between;font-size: 20px;font-weight: 600;padding: 20px 50px;gap:30px}
.grid-form input{border: 1px solid black;border-radius: 10px;margin-top: 10px;}
.radioin{font-size: 16px;font-weight: 0;}
.radioin input{margin-right: 10px;margin-bottom: 20px;}
.payment-img{width: 100%;}
.div-pay{border: none;width:500px;height: 300px;background-color:white;margin:0 auto;display: flex;flex-direction: column;align-items: center;padding: 20px;position: relative;}
.div-head{font-size: 24px;cursor: pointer;display: flex;gap:10px}
.div-content{display: none;flex-direction: column;color: white;font-weight: 600;}
.div-content input{margin-right:10px;}
.div-content img{border-radius: 50%;margin-left: 10px;}
.pay-btn{border:none;color:#2979FF;width:100px;font-size: 18px;margin-left: 100px;}
.div-done{position: absolute;display: none;margin: 0 auto;flex-direction: row;background-color: #2979FF;inset:0;padding:40px 30px;color:white;border-radius: 10px;z-index: 10000;}
.divdone-con input{border: 1px solid black;border-radius: 10px;height: 35px;margin-top: 10px;}
.pay1-btn{border: none;color:#2979FF;width:100px;border-radius: 10px;margin-top: 20px;height: 40px;margin-left: 50px;}
#payImage{border-radius: 50%;width:50%;margin-left: 50px;}
.paysuccess{display: none;position: absolute;inset: 0;flex-direction: column;font-size: 30px;justify-content: center;align-items: center;background-color: #2979FF;color:white;z-index:10001;}
.order-card{display: flex;width:100%;border: 1px solid black;padding: 20px;justify-content: space-evenly;font-weight: 600;align-items: center;text-align: center;font-size: 20px;}
.order-btn{width:200px;height: 40px;border: none;background-color: #2979FF;color: white;border-radius: 25px;font-size: 18px;font-weight: 600;}
.order-card1{border: 1px solid black;display: flex;width:80%;margin: 0 auto;margin-top: 50px;justify-content: space-evenly;align-items: center;text-align: center;font-size: 20px;}
.order-card2{border: none;background-color: #2979FF;display: flex;justify-content: space-between;width:80%;margin: 20px auto;padding: 20px 50px;color: white;font-size: 20px;}
.order-card3{border: none;color:#2979FF;width: 80%;margin: 20px auto;display: flex;justify-content: space-between;padding: 20px 50px;font-size: 20px;}
.order-btn1{width:150px;background-color: #2979FF;color: white;border: none;border-radius: 10px;height: 40px;font-size: 18px;font-weight: 600;margin-left:80%;margin-bottom: 20px;}
.track-card{border: 1px solid black;font-weight: 600;padding: 50px 30px;margin: 0 auto;}
.progress-head{display: flex;justify-content: space-evenly;}
.progress-foot{display: flex;justify-content: space-evenly;text-align: center;}
.steps{display: flex;justify-content: space-between;width:20%;color:greenyellow;font-size: 20px;position: absolute;}
.progress-bar{border: 1px solid #2979FF;height: 7px;margin: 0 auto;width:80%;border-radius: 10px;}
.progressive{height: 7px;width:30%;background-color: #2979FF;position: relative;}
.acc-card{width:80%;border: 1px solid black;height: 80px;border-radius: 10px;box-shadow: 0 2px 4px rgba(0,0,0,0.5);margin-bottom: 20px !important;display: flex;justify-content: center;align-items: center;font-size: 20px;font-weight: 600;margin: 0 auto;cursor: pointer;}
.acc-card1{width:80%;font-size: 18px;position: relative;}
.acc-grid{display: grid;grid-template-columns: repeat(2, 1fr);gap:20px}
.acc-card1 input{border: 1px solid;height: 40px;border-radius: 10px;margin-top: 10px;width:100%}
#acc-active{border: none;background-color: #2979FF;color: white;}
.acc-btn{border: none;background-color: #2979FF;color: white;font-size: 16px;font-weight: 600;height: 40px;width: 150px;border-radius: 10px;}
.acc-alert{position: absolute;display: none;justify-content: center;align-items: center;background-color: #2979FF;color: white;font-size: 25px;inset: 0;}
.acc-btn1{border: none;background-color: #2979FF;color: white;font-size: 16px;font-weight: 600;height: 40px;width: 150px;border-radius: 10px;}
.for-pass{display: flex;justify-content: right;}
.log-card p{margin:40px auto;font-size: 20px;margin-left: 100px;}
.acc-btn2{border: none;background-color: #2979FF;color: white;font-size: 16px;font-weight: 600;height: 40px;width: 150px;border-radius: 10px;margin-left: 150px;}

@media (max-width:730px){.navbar-nav{gap:20px}.explore-img{margin-left: 45px;} .circleone{left:575px;top:480px} .footer-card1{margin-bottom: 10px;}.signpa{bottom:580px;left:250px}.filterbox{padding: 30px;gap:30px;flex-wrap: wrap;}.para3{margin: 30px;}.whish-card{padding: 10px 30px;gap:50px;}.whish-card1{padding:30px 10px;gap:50px}.whish-card2{flex-direction: column;gap:20px}.green-row{flex-direction: column;}.cart-card{gap:65px;padding: 10px;}.cart-card1{gap:20px;padding: 10px;}.cart-card1 img{height: 130px;margin-bottom: 50px;}.grid-form{flex-direction: column;width: 100%;}.order-btn1{margin-left: 400px;}.order-card{flex-wrap: wrap;}}
@media (min-width:731px) and (max-width:1024px){.navbar-nav{gap:20px} .explore-img{margin-left: 35px;} .circleone{left:565px} .footer-card1{margin-bottom: 10px;}.signpa{bottom:580px;left:250px}.filterbox{padding: 30px;gap:50px}.arti-card1{padding:20px;margin-bottom:10px !important;}.arti-card2{padding: 20px;}.blog-card4 img{width: 95%;} .whish-card{padding: 10px 30px;gap:50px;}.whish-card1{padding:30px 10px;gap:50px}.whish-card2{gap:30px}.cart-card1{gap:65px;padding: 10px;margin-bottom: 50px;}.cart-card{gap:120px;padding: 10px;}.proceed-btn{margin-left: 100px;}.proceed-card{padding: 10px;}.proceed1-btn{margin-left: 10px;}.progressive{width:35%;}}